
@{
    ViewBag.Title = "MEMBER";
}
<section class="breadcrumbs-custom">
    <div class="parallax-container" data-parallax-img="~/images/bg-about.jpg">
        <div class="breadcrumbs-custom-body parallax-content context-dark">
            <div class="container">
                <h2 class="text-transform-capitalize breadcrumbs-custom-title">Our Team</h2>
                <h5 class="breadcrumbs-custom-text">We are industry-leading organic farm delivering the best products <br class="d-none d-md-block">that boost your daily life energy and potential.</h5>
            </div>
        </div>
    </div>
    <div class="breadcrumbs-custom-footer">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active">Our Team</li>
            </ul>
        </div>
    </div>
</section>
<!-- Team Modern-->
<section class="section section-sm section-last bg-default">
    <div class="container">
        <div class="row row-lg row-50 justify-content-center">
            <div class="col-sm-6 col-md-5 col-lg-3">
                <article class="team-modern box-sm">
                    <a class="team-modern-figure" href="#"><img src="~/images/team-4-270x227.jpg" alt="" width="270" height="227" /></a>
                    <h5 class="team-modern-name"><a href="#">Sam Martinez</a></h5>
                    <p class="team-modern-text">Galluss potus in gratis palatium! Sunt orexises tractare bassus</p>
                </article>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-3">
                <article class="team-modern box-sm">
                    <a class="team-modern-figure" href="#"><img src="~/images/team-5-270x227.jpg" alt="" width="270" height="227" /></a>
                    <h5 class="team-modern-name"><a href="#">Eva McMillan</a></h5>
                    <p class="team-modern-text">Humani generis, tus, et luba. Hippotoxotas sunt tatas de mirabilis</p>
                </article>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-3">
                <article class="team-modern box-sm">
                    <a class="team-modern-figure" href="#"><img src="~/images/team-6-270x227.jpg" alt="" width="270" height="227" /></a>
                    <h5 class="team-modern-name"><a href="#">Joe Smith</a></h5>
                    <p class="team-modern-text">Torquis peritus navis est. Cum calceus crescere, omnes</p>
                </article>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-3">
                <article class="team-modern box-smn">
                    <a class="team-modern-figure" href="#"><img src="~/images/team-7-270x227.jpg" alt="" width="270" height="227" /></a>
                    <h5 class="team-modern-name"><a href="#">Jane Williams</a></h5>
                    <p class="team-modern-text">Ubi est dexter candidatus? Cum adgium crescere, omnes abactuses</p>
                </article>
            </div>
        </div>
    </div>
</section>