
@{
    ViewBag.Title = "GetMenuDetail";
}
<section class="breadcrumbs-custom">
    <div class="parallax-container" data-parallax-img="~/images/bg-about.jpg">
        <div class="breadcrumbs-custom-body parallax-content context-dark">
            <div class="container">
                <h2 class="text-transform-capitalize breadcrumbs-custom-title">单品</h2>
                <h5 class="breadcrumbs-custom-text">We are industry-leading organic farm delivering the best products <br class="d-none d-md-block">that boost your daily life energy and potential.</h5>
            </div>
        </div>
    </div>
    <div class="breadcrumbs-custom-footer">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">家</a></li>
                <li><a href="grid-shop.html">店</a></li>
                <li class="active">单品</li>
            </ul>
        </div>
    </div>
</section>



<!-- Single Product-->
<section class="section section-sm section-first bg-default">
    <div class="container">
        <div class="row row-30">
            <div class='container' id="td">

                <!-- Bootstrap tabs-->

            </div>
        </div>
    </div>
</section>
<!-- Related Products-->
<section class="section section-sm section-last bg-default">
    <div class="container">
        <h4 class="font-weight-sbold">特色产品</h4>
        <div class="row row-lg row-30 row-lg-50 justify-content-center">
            <div class="col-sm-6 col-md-5 col-lg-3">
                <!-- Product-->
                <article class="product">
                    <div class="product-body">
                        <div class="product-figure">

                            <img src="~/images/product-1-196x134.png "  alt="" width="196" height="134" />
                        </div>
                        <h5 class="product-title"><a href="single-product.html">胡萝卜</a></h5>
                        <div class="product-price-wrap">
                            <div class="product-price product-price-old">$30.00</div>
                            <div class="product-price">$23.00</div>
                        </div>
                    </div><span class="product-badge product-badge-sale">Sale</span>
                    <div class="product-button-wrap">
                        <div class="product-button"><a class="button button-secondary button-zakaria fl-bigmug-line-search74" href="single-product.html"></a></div>
                        <div class="product-button"><a class="button button-primary button-zakaria fl-bigmug-line-shopping202" href="#"></a></div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-3">
                <!-- Product-->
                <article class="product">
                    <div class="product-body">
                        <div class="product-figure">

                            <img src="~/images/product-2-155x145.png" alt="" width="155" height="145" />
                        </div>
                        <h5 class="product-title"><a href="single-product.html">汽水</a></h5>
                        <div class="product-price-wrap">
                            <div class="product-price">$13.00</div>
                        </div>
                    </div><span class="product-badge product-badge-new">New</span>
                    <div class="product-button-wrap">
                        <div class="product-button"><a class="button button-secondary button-zakaria fl-bigmug-line-search74" href="single-product.html"></a></div>
                        <div class="product-button"><a class="button button-primary button-zakaria fl-bigmug-line-shopping202" href="#"></a></div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-3">
                <!-- Product-->
                <article class="product">
                    <div class="product-body">
                        <div class="product-figure">

                            <img src="~/images/product-3-180x154.png" alt="" width="180" height="154" />
                        </div>
                        <h5 class="product-title"><a href="single-product.html">番茄</a></h5>
                        <div class="product-price-wrap">
                            <div class="product-price">$16.99</div>
                        </div>
                    </div>
                    <div class="product-button-wrap">
                        <div class="product-button"><a class="button button-secondary button-zakaria fl-bigmug-line-search74" href="single-product.html"></a></div>
                        <div class="product-button"><a class="button button-primary button-zakaria fl-bigmug-line-shopping202" href="#"></a></div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-3">
                <!-- Product-->
                <article class="product">
                    <div class="product-body">
                        <div class="product-figure">

                            <img src="~/images/product-4-222x153.png" alt="" width="222" height="153" />
                        </div>
                        <h5 class="product-title"><a href="single-product.html">柿子</a></h5>
                        <div class="product-price-wrap">
                            <div class="product-price">$13.00</div>
                        </div>
                    </div><span class="product-badge product-badge-new">New</span>
                    <div class="product-button-wrap">
                        <div class="product-button"><a class="button button-secondary button-zakaria fl-bigmug-line-search74" href="single-product.html"></a></div>
                        <div class="product-button"><a class="button button-primary button-zakaria fl-bigmug-line-shopping202" href="#"></a></div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- Page Footer-->
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        var aaid =@Request["Id"];
        Xiang(aaid);
    })

    function Xiang(id) {
        $.ajax({
            url: "/MenuDetail/MenuDteails",
            type: "POST",
            dataType: "Json",
            data: {
                menuid: id
            },
            success: function (res) {
                var op = "";
                $(res.GetMenu).each(function () {
                    var th = "<div class='row row-30'>"
                    +"<div class='col-lg-6'>"
                        +"<div class='slick-vertical slick-product'>"
                           +"<!-- Slick Carousel-->"
                           +" <div class='slick-slider carousel-parent' id='carousel-parent' data-items='1' data-swipe='true' data-child='#child-carousel' data-for='#child-carousel'>"
                               +" <div class='item'>"
                        + "  <div class='slick-product-figure'>"
                        + "  <img src='" + this.Img + "' alt='' width='100%' height='100%' />"
                                   +" </div>"
                               +" </div>"

                           +" </div>"
                        + " <div class='slick-slider child-carousel slick-nav-1' id='child-carousel' data-arrows='true' data-items='3' data-sm-items='3'data-md-items='3' data-lg-items='3' data-xl-items='3' data-xxl-items='3' data-md-vertical='true' data-for='#carousel-parent'>"


                            + " </div>"
                            + "</div>"
                            + "</div>"
                            + " <div class='col-lg-6'>"
                            + "<div class='single-product'>"
                            + "<h3 class='text-transform-none font-weight-medium'>" + this.Name + "</h3>"
                            + "<div class='group-md group-middle'>"
                            + " <div class='single-product-price'>" + this.Price + "</div>"
                            + " <div class='single-product-rating'><span class='icon mdi mdi-star'></span><span class='icon mdi mdi-star'></span><span class='icon mdi mdi-star'></span><span class='icon mdi mdi-star'></span><span class='icon mdi mdi-star-half'></span></div>"
                            + " </div>"
                            + " <p>" + this.Remark + "</p>"
                            + " <hr class='hr-gray-100'>"
                            + "<ul class='list list-description'>"
                            + " <li><span>重量:</span><span>1 kg</span></li>"
                            + " <li><span>盒子:</span><span>60 x 60 x 90 cm</span></li>"
                            + "</ul>"
                            + " <div class='group-xs group-middle'>"
                            + " <div class='product-stepper'>"
                            + "<input class='form-input' type='number' data-zeros='true' value='1' min='1' max='1000'>"
                            + " </div>"
                            + " <div><a class='button button-lg button-primary button-zakaria' href='#'>添加到购物车</a></div>"
                            + "  </div>"
                            + "  <hr class='hr-gray-100'>"
                            + " <div class='group-xs group-middle'>"
                            + " <span class='list-social-title'>Share</span>"
                            + " <div>"
                            + " <ul class='list-inline list-social list-inline-sm'>"
                            + " <li><a class='icon mdi mdi-facebook' href='#'></a></li>"
                            + " <li><a class='icon mdi mdi-twitter' href='#'></a></li>"
                            + " <li><a class='icon mdi mdi-instagram' href='#'></a></li>"
                            + "  <li><a class='icon mdi mdi-google-plus' href='#'></a></li>"
                            + " </ul>"
                            + "</div>"
                            + " </div>"
                            + " </div>"
                            + " </div>"
                            + "</div>";

                    op += th;
                })
                $("#td").append(op);
            }
        })
    }
</script>

