
@{
    ViewBag.Title = "ShowCartDeci";
    Layout = "~/Views/ShowCart/ShowCart.cshtml";
}

<table>

    <tbody id="td"></tbody>
</table>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/ShowCart/GetCart",
            type: "POST",
            dataType: "json",
            success: function (res) {
                var op = "";
                $(res).each(function () {
                    var th = "<ul class='order_lists'>"
                    +"<li class='list_chk'>"
                        +"<input type='checkbox' id='checkbox_2' class='son_check'>"
                        +"<label for='checkbox_2'></label>"
                        + " </li>"
                        + "<li class='list_img'>"
                        + "<div class='list_img'><a href='javascript:;'><img src='" + this.Img + "' alt=''></a></div>"
                        +"</li>"
                    +"<li class='list_con'>"

                        
                        + "<div class='list_text'><a href='javascript:;'>" + this.Name + "</a></div>"
                    +"</li>"
                        + "<li class='list_info'>"
                        + "<p>"+this.Remark+"</p>"

                   +" </li>"
                   +" <li class='list_price'>"
                     +"   <p class='price'>"+this.Price+"</p>"
                   +" </li>"
                   +" <li class='list_amount'>"
                      +"  <div class='amount_box'>"
                           +" <a href='javascript:;' class='reduce reSty'>-</a>"
                            +"<input type='text' value='1' class='sum'>"
                           +" <a href='javascript:;' class='plus'>+</a>"
                       +" </div>"
                   +" </li>"
                            + " <li class='list_sum'>"
                            + " <p class='sum_price'>" + this.ToPrice + "</p>"
                   +" </li>"
                  +"  <li class='list_op'>"
                     +"   <p class='del'><a href='javascript:;' class='delBtn'>移除商品</a></p>"
                   +" </li>"
                +"</ul>"
                    op += th;
                });
                $("#td").append(op);
            }
        });
    })
</script>

