
@{
    ViewBag.Title = "ShowCartDeci";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <title>购物车</title>
    <style>
        input {
            width: 50px;
        }
    </style>

</head>
<body>
    <div>
        <table border="1" cellspacing="0" cellpadding="10px">
            <thead>

                <tr>
                    <td><input type='checkbox' id="checkAll" name="checkAll" onclick="checkAll(this)"></td>
                    <td>菜品图片</td>
                    <td>菜品名称</td>
                    <td>菜品介绍</td>
                    <td>菜品单价</td>
                    <td>菜品数量</td>
                    <td>菜品小计</td>
                </tr>
            </thead>
            <tbody id="td"></tbody>

        </table>
    </div>
    <script type="text/javascript">
        //算小计
        //1.取出单价  2.改变数量   小计金额=单价*数量
        //3.把小计列的数据显示成小计金额


        $(document).ready(function () {
            $.ajax({
                url: "/ShowCart/GetCart",
                type: "POST",
                dataType: "json",
                success: function (res) {
                    var op = "";
                    $(res.GetCart).each(function (index, item) {
                        var th = "<tr>"
                            + "<td><input type='checkbox' name='checkList'></td>"
                            + "<td>" + this.Img + "</td>"
                            + "<td>" + this.Name + "</td>"
                            + "<td>" + this.Remark + "</td>"
                            + "<td>" + this.Price + "</td>"
                            + "<td>"
                            + "<button class='jian' id='jian" + index + "'  onclick='jian(" + index + "," + this.Price + ")'>-</button>"
                            + "<input type='number' id='num" + index + "'  maxlength='2' value='" + this.Count + "' disabled>"
                            + "<button class='jia'  id='jia" + index + "' onclick='jia(" + index + "," + this.Price + ")'>+</button>"
                            + "</td>"
                            + "<td id='xiaoji" + index + "'>" + this.ToPrice + "</td>"
                            + "<td>已选商品<strong id='yixuan" + index + "'>0</strong>件</td>"
                            + "<td>共计: <strong id='gong" + index + "'>0.00</strong></td>"
                            + "<td><input type='button' value='结算' /></td>"
                            + " </tr>";
                        op += th; 

                        
                    });
                    $("#td").append(op);
                }
            });
        })
        function jia(index, price) {

            var num = $("#num" + index).val();
            num = parseInt(num) + 1;
            $("#num" + index).val(num);
            var sum = num * parseFloat(price);
            $("#xiaoji" + index).html(sum);

        }
        function jian(index, price) {

            var num = $("#num" + index).val();
            if (num == 0) {
                return;
            }
            num = parseInt(num) - 1;
            $("#num" + index).val(num);
            var sum = num * parseFloat(price);
            $("#xiaoji" + index).html(sum);
        }
        function checkAll(checkbox) {

            if (checkbox.checked) {
                $("input[name='checkList']").each(function () {
                    this.checked = true;

                })
            } else {
                $("input[name='checkList']").each(function () {
                    this.checked = false;
                })
            }
        }






    </script>
</body>
</html>






