
@{
    ViewBag.Title = "GeShow";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
</head>
<body>
    <table id="mytable" width="1200" align="center" class="table table-striped">
        <thead>
            <tr>
                <td>菜品图片</td>
                <td>菜品名称</td>
                <td>菜品单价</td>
                <td>菜品数量</td>
                <td>下单时间</td>
            </tr>
        </thead>

        <tbody id="td"></tbody>
    </table>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        $(document).ready(function () {

            var UserId = jQuery("#Id").val();
            $.ajax({
                url: "/Order/GetOrderDetails",
                type: "POST",
                dataType: "json",
                data:
                {
                    UserId:UserId
                },
                success: function (res) {
                    var op = "";
                    $(res.orders).each(function () {

                        var tp = "<tr>"
                            + "<td style='width='50' height='100''><img src='" + this.Img + "'  width='50' height='100'/></td>"
                            + "<td>" + this.Name + "</td>"
                            + "<td>" + this.Price + "</td>"
                            + "<td>" + this.Count + "</td>"
                            + "<td>" + this.CreateTime + "</td>"
                            + "</tr>"
                        op += tp;
                    })
                    $("#td").append(op);
                }
            });
        })



    </script>
</body>
</html>
