
@{
    ViewBag.Title = "GeShow";
}
<h2>历史订单</h2>
<div id="showDiv"></div>
<div class="title"id="name">商品名称</div>
<div class="title" id="sun">商品数量</div>
<div class="title" id="price">商品单价</div>
<div class="title" id="her">订单总价</div>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/index.js"></script>
<script>
</script>