
@{
    ViewBag.Title = "GeShow";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
</head>
<body>
    <table style="width:100%;">
        <tr>
            <td>菜品图片</td>
            <td>菜品名称</td>
            <td>菜品单价</td>
            <td>菜品数量</td>
            <td>下单时间</td>
            <td></td>
        </tr>
    </table>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "User/Dingshow",
                type: "POST",
                dataType: "json",
                success: function (res) {
                    var th = "";
                    $(res.Dingshow).each(function () {
                        var td = +"<tr>"
                            + " <td>" + this.lmg + "</td>"
                            + "<td>" + this.Name + "</td>"
                            + "<td>" + this.Price + "</td>"
                            + "<td>" + this.Count + "</td>"
                            + "<td>" + this.CreateTime + "</td>"
                            + "<td></td>"
                            + " </tr>";
                        th += td;
                    });

                    $("#tr").append(td);
                }
            })

        }
        )



    </script>
</body>
</html>
