


@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>CSS3登录注册切换动画模板 - 站长素材</title>
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/Loginstyle.css" rel="stylesheet" />

</head>
<body>
    <div class="materialContainer">
        <div class="box">
            <div class="title">登录</div>
            <div class="input">
                <label for="phonenumber">用户名</label>
                <input type="text" name="phonenumber" id="phonenumber">
                <span class="spin"></span>
            </div>
            <div class="input">
                <label for="password">密码</label>
                <input type="password" name="password" id="password">
                <span class="spin"></span>
            </div>
            <div class="button login">
                <button>
                    <span>登录</span>
                    <i class="fa fa-check" id="test"></i>
                </button>
            </div>
            <div>
            <a href="javascript:" class="pass-forgot" id="wang">忘记密码？</a>
        </div>
            </div>

        <div class="overbox">
            <div class="material-button alt-2">
                <span class="shape"></span>
            </div>
            <div class="title">注册</div>
            <div class="input">
                <label for="yong">用户名</label>
                <input type="text" name="yong" id="yong">
                <span class="spin"></span>
            </div>
            <div class="input">
                <label for="ma">密码</label>
                <input type="password" name="ma" id="ma">
                <span class="spin"></span>
            </div>
            <div class="input">
                <label for="email">邮箱</label>
                <input type="text" name="email" id="email">
                <span class="spin"></span>
            </div>
            <div class="button">
                <button>
                    <span>注册</span>
                    <i id="test"></i>
                </button>
            </div>
        </div>

    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
    <script>
        $("#test").click(function () {
            var PhoneNumber =$("#phonenumber").val();
            var PassWord= $("#password").val();
            if (PhoneNumber == "" || PassWord=="") {
                alert("用户名密码不能为空！");
                return;
            }
            var obj = {
                User: {
                    PhoneNumber:$("#phonenumber").val(),
                    PassWord:$("#password").val()
                }
            };
            $.ajax({
                url: "/User/InfoResponse",
                type: "POST",
                data:obj,               
                dataType:"json",
                success: function (d) {
                    if (d.State==true) {
                        alert("登陆成功");
                        //location.href = "";
                    }
                    else {
                        alert("登陆失败！");
                    }
                }
            })
        })
    </script>
    <script>
        $("#Zhu").on("click", function () {
            var PhoneNumber = $("#yong").val();
            var PassWord = $("#ma").val();
            var Email = $("#email").val();
            if (PhoneNumber == "" || PassWord == "" || Email=="") {
                alert("用户名密码邮箱不能为空！");
                return;
            }
            $.ajax({
                url: "http://localhost:53336/api/UserInfo/AddUser",
                type: 'POST',
                data: {
                    PhoneNumber: PhoneNumber,
                    PassWord: PassWord,
                    Email: Email
                },
                dataType:'json',
                success: function (d) {
                    if (d > 0) {
                        alert("注册成功");
                        location.href = 'Login.cshtml';
                    }
                }

            })
        })
    </script>
</body>
</html>




