


@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>默默外卖Login</title>
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/css/Loginstyle.css" rel="stylesheet" />
</head>
<body>
    <div class="materialContainer">
        <div class="box">
            <div class="title">登录</div>
            <div class="input">
                <label for="phonenumber">用户名</label>
                <input type="text" name="phonenumber" id="phonenumber">
                <span class="spin"></span>
            </div>
            <div class="input">
                <label for="password">密码</label>
                <input type="password" name="password" id="password">
                <span class="spin"></span>
            </div>
            <div></div>
            <div class="form-group">
                <div style="float:left">
                    <img id="GL_StandardCode" style="cursor: pointer;margin-top:20px;margin-left:-10px;" src="@Url.Action("GetImg", "User")?t=@DateTime.Now.Ticks" title="看不清，点击换一张" />
                </div>
                <div style="float:right">
                    <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="验证码" id="num" name="password" style="margin-top:20px;margin-left:-10px;width:250px;height:44px">
                </div>
            </div>
            <div class="button login">
                <button>
                    <span>登录</span>
                    <i class="fa fa-check" id="test"></i>
                </button>
            </div>
            <div>
            </div>
        </div>
        <div class="overbox">
            <div class="material-button alt-2">
                <span class="shape"></span>
            </div>
            <div class="title">注册</div>
            <div class="input">
                <label for="yong">用户名</label>
                <input type="text" name="yong" id="yong">
                <span class="spin"></span>
            </div>
            <div class="input">
                <label for="ma">密码</label>
                <input type="password" name="ma" id="ma">
                <span class="spin"></span>
            </div>
            <div class="input">
                <label for="email">邮箱</label>
                <input type="text" name="email" id="email">
                <span class="spin"></span>
            </div>
            <div class="button">
                <button id="Zhu" onclick="Zhu()">
                    <span>注册</span>
                    <i class="fa fa-check" id="Zhu"></i>
                </button>
            </div>
        </div>

    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
    <script>

    $("#GL_StandardCode").click(function () {
    var newSrc = "@Url.Action("GetImg", "User")" + "?t=" + (new Date()).getTime();
    this.src=newSrc;
    return false;
    });
        $("#test").click(function () {
            var PhoneNumber =$("#phonenumber").val();
            var PassWord= $("#password").val();
            if (PhoneNumber == "" || PassWord=="") {
                alert("用户名密码不能为空！");
                return;
            }
            var obj = {
                User: {
                    PhoneNumber:$("#phonenumber").val(),
                    PassWord:$("#password").val()
                }
            };
            $.ajax({
                url: "/User/InfoResponse",
                type: "POST",
                data:obj,
                dataType:"json",
                success: function (d) {
                    if (d.State==true) {
                        alert("登陆成功");
                        location.href = "/TakeawayHome/ProductHome/1";
                    }
                    else {
                        alert("登陆失败！");
                    }
                }
            })
        })

        function Zhu() {
                        alert("cao");
            var PhoneNumber = $("#yong").val();
            var PassWord = $("#ma").val();
            var Email = $("#email").val();
            if (PhoneNumber == "" || PassWord == "" || Email=="") {
                alert("用户名密码邮箱不能为空！");
                return;
            }
            $.ajax({
                url: "/User/AddUser",
                type: 'POST',
                data: {
                    User: {
                                            PhoneNumber: PhoneNumber,
                    PassWord: PassWord,
                    Email: Email
                    }

                },
                dataType:"json",
                success: function (d) {
                    if (d.State) {
                        alert("注册成功");
                    }
                    else {
                        alert("注册失败");
                    }
                }

            })
        }


    </script>
</body>
</html>




