<section class="section section-xxl bg-image-1">
    <div class="container">
        <h2 class="text-transform-capitalize wow fadeScale">编辑地址信息</h2>

        <div class="owl-carousel" data-margin="30" data-dots="true" data-mouse-drag="false" id="dd" style="margin-left:-10%">
            <article class="post post-classic box-md wow slideInUp" style="margin-top:30px;">
                <div class="post-classic-content" style="height:50px;width:700px">
                    <div style="margin-left:28%">
                        <h4 class="text-transform-capitalize wow fadeScale">
                            <a href="/TakeawayHome/Address">新建地址信息</a>
                        </h4>
                    </div>


                </div>

            </article>
        </div>

    </div>
</section>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    $(document).ready(
        function () {
            GetAddress();
        }
    );

    //获取用户所有的地址信息
    function GetAddress() {
         var Id = jQuery("#Id").val();
        
        jQuery.ajax({
            url: "/User/ShowressInfo",
            data:
            {
                UserId: Id
            },
            dataType: "Json",
            type: "Post",
            success: function (res) {
                jQuery.each(res.Infos, function (index, item) {
                    var tb = '<article class="post post-classic box-md wow slideInUp" style="margin-top:30px">'
                        + '<div class="post-classic-content" style="height:50px;width:700px">'
                        + '<div style="float:left;width:25%;height:100%">'
                        + '<label>上海市</label>'
                        + '</div>'
                        + '<div style="width:25%;height:100%;margin-left:25%">'
                        + '    <label>' + item.Name + '</label>'
                        + '</div>'
                        + '<div style="width:25%;height:100%;margin-left:50%">'
                        + '    <label>' + item.Content + '</label>'
                        + '</div>'
                        + '<div style="float:right;width:25%;height:100%;margin-left:95%">'
                        + '    <a onclick="EditAddress(' + item.Id + ')">编辑地址</a> '
                        + '</div>'
                        + '</div>'
                        + '</article>';
                    jQuery("#dd").prepend(tb);
                }
                );
            }
        })
    }

    //跳转到修改页面
    function EditAddress(Id) {
        location.href = "/TakeawayHome/EditAddress/?Id=" + Id;
    }

</script>

