
@{
    ViewBag.Title = "GenerateOrderView";
}

<section class="section section-xxl bg-image-1">
    <div class="container">
        <h2 class="text-transform-capitalize wow fadeScale">确认订单</h2>
        <!-- Owl Carousel-->
        <div class="post-classic-content" style="height:500px;margin-top:50px;width:55%;margin-left:27%">
            <input type="hidden" id="Price" value="@Session["Price"]">
            <input type="hidden" id="Ids" value="@Session["Ids"]  ">

            <div style="margin-top:50px;width:100%;height:20%">
                <div style="margin-left:0px;float:left"> <label>地址:</label></div>
                <div style="margin-right:30%;float:right" id="radio">


                </div>
            </div>
            <div style="margin-top:50px;width:100%;height:10%">
                <div style="margin-left:0px;float:left"> <label>收货人:</label></div>
                <div style="margin-right:0px;float:right">  <input class="Consignee" type="text" id="Consignee" /><hiden id="AddresId"></hiden></div>
            </div>
            <div style="margin-top:50px;width:100%;height:10%">
                <div style="margin-left:0px;float:left"> <label>备注:</label></div>
                <div style="margin-right:0px;float:right">  <input class="Content" type="text" id="Content" /><hiden id="AddresId"></hiden></div>
            </div>
            <div style="margin-top:50px;width:100%;height:10%">
                <div style="margin-left:0px;float:left"> <label>总价:</label></div>
                <div style="margin-right:0px;float:right"><label id="ToPrice"></label></div>
            </div>
            <div style="margin-top:100px;width:100%;height:10%">
                <div style="margin-left:30%;float:left"><input id="Button1" type="button" value="提交" class="btn btn-default" onclick="GenerateOrder()" /></div>
            </div>
        </div>
        <!-- Post Classic-->
    </div>

</section>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    jQuery(document).ready(
        function () {
            GetOrderPrice();
            GetSele();
        });

    function GetSele() {
        var UserId = jQuery("#Id").val();
        jQuery.ajax({
            url: "/Order/GetOrders",
            type: "Post",
            dataType: "Json",
            data:
            {
                Id: UserId
            },
            success: function (res) {
                jQuery.each(res.addresses, function (index, item) {
                    var tb = '<div style="margin-top:5px">'
                        + ' <input type="radio" name="sex" value="' + item.Id + '" checked style="float: left; "><div style="width:200%">' + item.Name + '-' + item.Content + '</div>';
                    + '</div>';

                    jQuery("#radio").prepend(tb);
                })
            }
        })
    }

    function GenerateOrder() {
        var Price = jQuery("#Price").val();
        var AddressId = $('input[name="sex"]:checked').val();
        var Consignee = jQuery("#Consignee").val();
        var Content = jQuery("#Content").val();
        var UserId = jQuery("#Id").val();

        var like = jQuery("#Ids").val();

        jQuery.ajax({
            url: "/Order/GenerateOrder",
            type: "Post",
            dataType: "Json",
            data:
            {
                Price: Price,
                parameter: {
                    Ids: like,
                    TotalPrice: Price,
                    AddressId: AddressId,
                    Consignee: Consignee,
                    Content: Content,
                    BusinessInfo: AddressId,
                    UserId: UserId
                }
            },
            success: function (res) {
                if (res.State) {
                    alert("生成订单成功");
                    location.href = "/User/GeShow/";
                }
                else {
                    alert("请刷新重试");
                }
            }
        })
    }

    function GetOrderPrice() {
        var like = jQuery("#Ids").val();

        jQuery.ajax({
            url: "/Order/GetOrderPrice",
            type: "Post",
            dataType: "Json",
            data:
            {
                Ids: like
            },
            success: function (res) {
                if (res.State) {
                    jQuery("#ToPrice").html(res.Toprice);
                }
                else {
                    alert("请刷新重试");
                }
            }
        })
    }

</script>
