
@{

}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<script src="~/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CLato%7CKalam:300,400,700">
<link rel="stylesheet" href="~/css/bootstrap.css">
<link rel="stylesheet" href="~/css/fonts.css">
<link rel="stylesheet" href="~/css/style.css">
<div class="isotope-wrap">
    <div class="isotope-filters">
        <button class="isotope-filters-toggle button button-sm button-icon button-icon-right button-default-outline" data-custom-toggle=".isotope-filters-list" data-custom-toggle-disable-on-blur="true" data-custom-toggle-hide-on-blur="true"><span class="icon mdi mdi-chevron-down"></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">过滤</font></font></button>
        <div class="isotope-filters-list-wrap">
            <ul class="isotope-filters-list">
                <li><a href="#" data-isotope-filter="Type 1" class=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">水果</font></font></a></li>
                <li><a href="#" data-isotope-filter="Type 2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">蔬菜</font></font></a></li>
            </ul>
        </div>
    </div>
</div>



